# Byte-compiled / optimized / DLL files
__pycache__/

# virtual enviroments
env37/
env3/
\.vscode/

variables\.py

\scraper1.py

\walkerscraper.py

\Python_Using_Internet_Files/ 
Python_Using_Internet_Files/

users\.yaml

user1s\.yaml

users1\.yaml

Test_Scrapers\